{% extends 'blog/base.html' %}
{% block content %}
  <div class="content-section">
    <form method="POST" class="form" novalidate>
      {% csrf_token %}
      <fieldset>
        <legend>Join Today</legend>

        {% include 'blog/_form.html' %}
        
      </fieldset>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>
    </form>

    <div class="form-footer">
      <small class="text-muted">Already have an account?</small>
      <a href="{% url 'login' %}">Sign In</a>
    </div>
  </div>
{% endblock %}
